#room_id,#user_id{
  display:none;
}
#send_message{
  background-color: none;
  border:10px;
  outline:10px;
}
.content{
  margin-bottom:180px;
} 
#user_img{
  width:50px;
  height:50px;
}
#chat-wrap{
  height:auto;
  width:100%;
  background-color: adjust-hue($color: #000000, $degrees: 0);
}
#chat{
  position: fixed;
  bottom:30px;
  left:50%;
}
#chatting_message{
  background-color: yellow;
  width:auto;
  border-radius: 80%;
}
.hidden{
  display: none;
}
.friend-message{
  margin-left:10px;
  margin-top: 0px;
}