#edit-profile__form{
    display:flex;
    height:100vh;
    flex-direction:column;
    margin:0 auto;
    width:300px;
} #edit-profile__form input[type="submit"] {
    background-color: white;
}
#edit-profile__form input{
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
}
.edit-ahref{
    font-size:25px;
}