div{
    text-align: center;
}
#join-form{
    border:none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width:30%
}