#join-div{
    text-align: center;
}
#join-form{
    border:none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width:30%
} 
#join-form input{
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
    background-color: white;
}
input:not([type="submit"]) {   
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
    background-color: white;
  }
#login-div span{
    font-size:20px;
}
#login-div a{
    font-size:20px;
    text-decoration:underline;
}