extends base

block content 
    div.screen-top__header
    if errorMessage
        span=errorMessage
    form#login-form(method="POST")
        input(placeholder="Username", name="username", type="text",required)
        input(placeholder="Password", name="password", type="password",required)
        input(type="submit", value="Login")
    hr
    div.create_account
        span.question 계정이 없으십니까? 
        a(href="/join")  계정 생성하기 
    img.weclome-img(src="imgs/welcome.jpeg")