nav.nav 
    ul.nav__list 
        li.nav__btn
            a.nav__link(href="/")  
                i.fas.fa-user
        li.nav__btn 
            a.nav__link(href="/chat/rooms")
                i.fas.fa-comment
        li.nav__btn 
            a.nav__link(href="/logout")
                i.fas.fa-door-open
    div#splash-screen
        i.fas.fa-comment
script(src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous") 